.btn__container {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn__container_delete {
    background-color: #FF004D;
}

.btn__container_edit {
    background-color: #836FFF;
}

.btn__label {
    font-size: 1rem;
    font-weight: 500;
}